{% extends 'base.html' %}

{% block content %}
    {% include 'snippets/get_navbar.html' %}
    <div class="container my-5">
        <h2 class="mb-4">Update Car</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_license_plate" class="form-label">License Plate</label>
                {{ form.license_plate }}
            </div>
            <div class="mb-3">
                <label for="id_daily_price" class="form-label">Daily Price</label>
                {{ form.daily_price }}
            </div>
            <div class="mb-3">
                <label for="id_mileage" class="form-label">Mileage</label>
                {{ form.mileage }}
            </div>
            <div class="mb-3">
                <label for="id_status" class="form-label">Status</label>
                {{ form.status }}
            </div>
            <div class="mb-3">
                <label for="id_location" class="form-label">Location</label>
                {{ form.location }}
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}